<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMS_ANDROID">
        <activity
            android:name=".Lessons.Lesson26.Task1.Lesson26Task1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson27.Task1.Lesson27Task1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson20.HomeWork2.Lesson20HomeWork2"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson20.HomeWork1.Lesson20HomeWork1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson20.Task4.Lesson20Task4"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson20.Task3.Lesson20Task3"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson20.Task2.Lesson20Task2"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson20.Task1.Lesson20Task1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson24.HomeWork1.Lesson24HomeWork1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson24.Task6.Lesson24Task6"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson24.Task5.Lesson24Task5"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson24.Task4.Lesson24Task4"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson24.Task3.Lesson24Task3"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task4.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task3.ExampleScreen"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task1.Lesson16Task1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task2.Lesson16Task2"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task3.Lesson16Task3"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task4.Lesson16Task4"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task5.Lesson16Task5"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson16.Task6.Lesson16Task6"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson17.Task1.Lesson17Task1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson17.Task2.Lesson17Task2"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson17.Task3.Lesson17Task3"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson17.Task4.Lesson17Task4"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson17.Task5.Lesson17Task5"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson17.Task6.Lesson17Task6"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson18.Task1.Lesson18Task1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson18.Task1.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson18.Task2.Lesson18Task2"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson18.Task3.Lesson18Task3"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson19.Task1.Lesson19Task1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson19.Task2.Lesson19Task2"
            android:exported="false" />
        <activity
            android:name=".LessonTasksActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".Lessons.Lesson22.HomeWork1.Lesson22HomeWork1"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson22.HomeWork2.Lesson22HomeWork2"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson22.HomeWork3.Lesson22HomeWork3"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson23.Task1.Lesson23Task1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lessons.Lesson22.Task1.Lesson22Task1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson22.Task2.Lesson22Task2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson22.Task3.Lesson22Task3"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.Task1.Lesson21Task1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.Task2.Lesson21Task2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.Task3.Lesson21Task3"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.Task4.Lesson21Task4"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.Task5.Lesson21Task5"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.Task6.Lesson21Task6"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.HomeWork1.Lesson21HomeWork1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Lessons.Lesson21.HomeWork2.Lesson21HomeWork2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>