<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMS_ANDROID">
        <activity
            android:name=".Lesson18Task3.Lesson18Task3"
            android:exported="false" />
        <activity
            android:name=".Lesson18Task2.Lesson18Task2"
            android:exported="false" />
        <activity
            android:name=".Lesson18Task1.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Lesson18Task1.Lesson18Task1"
            android:exported="false" />
        <activity
            android:name=".Lesson17Task6.Lesson17Task6"
            android:exported="false" />
        <activity
            android:name=".Lesson17Task5.Lesson17Task5"
            android:exported="false" />
        <activity
            android:name=".Lesson17Task4.Lesson17Task4"
            android:exported="false" />
        <activity
            android:name=".Lesson17TAsk2.Lesson17Task2"
            android:exported="false" />
        <activity
            android:name=".Lesson17TAsk3.Lesson17TAsk3"
            android:exported="false" />
        <activity
            android:name=".Lesson17TAsk1.Lesson17Task1"
            android:exported="false" />
        <activity
            android:name=".LessonTasksActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>